body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ccc;
}

.messages {
	height: 400px;
	overflow-y: scroll;
}

.message {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.message .sender {
	font-weight: bold;
	margin-bottom: 5px;
}

.message .content {
	background-color: #e6e6e6;
	padding: 10px;
	border-radius: 10px;
	max-width: 70%;
	align-self: flex-start;
	margin-left: 30px;
}

.message .content:last-child {
	margin-bottom: 0px;
}

.message .content.sent {
	background-color: #dcf8c6;
	align-self: flex-end;
	margin-left: 0px;
	margin-right: 30px;
}

.message .content.sent:last-child {
	margin-bottom: 0px;
}

.form {
	display: flex;
	margin-top: 20px;
}

#file-name{
	width:45%;
	font-size: 15px;
}

.form input[type=submit] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

input[type=file]:hover {
	background-color: #3e8e41;
}

input[type=file] {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style for the "Choose File" button */
input[type="file"] {
  display: none;
}

.choose-file-btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the "Upload" button */
#send-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
